<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'text/style.css' %}">
<html>
<head>
    <meta charset="utf-8" />
</head>

<body class="container">
	<form action="" method="post"align="center"> 
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Отправить">
    </form>
    {% if comments.count > 0 %}
    <h2>Список комментариев </h2>
    <table >
        <tr><th>Номер&nbsp&nbsp</th><th>Комментарий</th></tr>
        {% for comment in comments %}
        <tr><td>{{ comment.id }}&nbsp&nbsp</td><td>{{ comment.comments_text }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>